.input:focus {
}

.input {
    display: flex;
    width: 372px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.inputWrapper {
    display: flex;flex-direction: column-reverse;
    gap: 5px;
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    border: 1px solid #CC1439;
}

.error {
    color: #CC1439;
    font-family: Montserrat;
    font-size: 10px;
}
