.App {
    --header_height: 60px;
    padding: 0 15px;
}

.hw {

}

.hwTitle {
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 39px 0 9px;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
}