.greetingForm {
    padding: 31px 0;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    color: #C00;
    font-family: Montserrat;
    font-size: 14px;
    margin-top: 7px;
}

.input {
    display: flex;
    width: 372px;
    min-height: 36px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.input:focus {
}

.errorInput {
    display: flex;
    width: 372px;
    min-height: 36px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #C00;
}

.button {
    display: inline-flex;
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    opacity: 0.5;
    background:  #06C;
    color:  #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    text-transform: capitalize;
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 14px;
    margin-bottom: 9px;
}

.greeting {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
